p{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    margin-top: 0px;
    
}

input{
    display: block;
    margin-bottom: 10px;
    width: 400px;
    height: 40px;
    padding-left: 20px;
    border: none;
    background-color: rgba(238, 238, 238, 1);
}

.request {
    background-color: black;
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 25px;
    margin-top: 25px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.request:hover {
    opacity: 0.8;
}

.schedule {
    margin-left: 10px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 25px;
    margin-top: 25px;
    cursor: pointer;
    color: black
}

.google-logo {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 20px;
}

.google-searchbox {
    width: 450px;
    height: 30px;
    padding-left: 15px;
    border-radius: 17px;
    border: none;
    box-shadow: -1px -1px 6px rgb(189, 188, 188);
    background-color: white;
    margin-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search {
    background-color: rgba(238, 238, 238, 1);
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.lucky {
    background-color: rgba(238, 238, 238, 1);
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.google-buttons {
    text-align: center;
    margin-top: 25px;
}