p{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    margin-top: 0px;
    
}

input{
    display: block;
    margin-bottom: 10px;
    width: 400px;
    height: 40px;
    padding-left: 20px;
    border: none;
    background-color: rgba(238, 238, 238, 1);
}

.request {
    background-color: black;
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 25px;
    margin-top: 25px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.request:hover {
    opacity: 0.8;
}

.schedule {
    margin-left: 10px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 25px;
    margin-top: 25px;
    cursor: pointer;
    color: black
}